.bodyy{
    text-align: center;
}
.butt{
    margin-left: 100px;
    height: 50px;
    width: 120px;
    margin-top: 40px;
    background-color: transparent;
}
.butt span{
    font-size: 1rem;
    text-align: center;
    margin-left: 5px;
}
.part2{
    width: 50%;
    height: 100vh;
    position: relative;
    display: inline-block;
    margin-left: 300px;
}
.heading{
    margin-top: 10px;
    text-align: center;
}
.heading span{
    font-size: 1.5rem;
    color:#323232;
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.part2-body hr{
    width: 25%;
    
    border: 2px solid #33ffff;
}
.details{
    margin-left: 100px;
    margin-top: 50px;
}
.input-form input{
	display: block;
	max-width: 90%;
    margin: 15px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 4px 10px;
    border: 0.5px solid lightgrey;
    border-bottom: 1px solid grey;
    background: transparent;
    width: 60%;
    line-height: 1.6;
    font-size: 1.05rem;
    border-radius: 10px;
    box-shadow: lightgray;
}
#cars{
    display: block;
    max-width: 100%;
    margin: 15px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 4px 10px;
    border: 0.5px solid lightgrey;
    border-bottom: 1px solid grey;
    background: transparent;
    width: 60%;
    line-height: 1.6;
    font-size: 1.05rem;
    border-radius: 10px;
    box-shadow: lightgray;
    margin-bottom: 30px;
}

.but{
    margin-left: 60px;
    height: 30px;
    width: 200px;
    margin-top: 20px;
    background-color: #33cccc;
    border-radius: 20px;

}
.but span{
    font-size: 1rem;
    text-align: center;
    margin-left: 5px;
}
.signup{
    margin-left: 180px;
    margin-top: 20px;
}
.or{
    margin-top: 10px;
    margin-left: -20px;
}
#one{
    display: inline-block;
    width: 15%;
    margin-top: 20px;
    margin-left: 180px;
    border: 2px solid grey;
}
#two{
    display: inline-block;
    width: 15%;
    margin-top: 20px;
    margin-left: 40px;
    border: 2px solid grey;
}
.or span{
    position: absolute;
    margin-left: -135px;
    margin-top: 13px;
    font-weight: 600;
}
#login{
        height: 0;
        width: 0;
        position: fixed;
        left: 30%;
        height: 50%;
        background-color: grey;
        overflow: hidden;
}
#login:target{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    background-color: white;
}
.space{
    margin-top: 50px;
    margin-left: 80px;
}
.space1{
    margin-top: 150px;
    margin-left: 250px;
}
.space2{
    position: absolute;
    margin-top: 40px;
    margin-left: 150px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}
.image{
    position: relative;
    margin-top: 10px;
    margin-left: 250px;

}
#fb{
    margin-right: 20px;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    border-radius: 50%;

}
#google{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
#fb:hover{
    box-shadow: 0px 0px 6px 4px rgba(67, 163, 124, 1); 
}
#google:hover{
    box-shadow: 0px 0px 6px 4px rgba(67, 163, 124, 1); 
}

a{
    text-align: center;
    padding:5px 25px;
    border: 2px solid cyan;
    text-decoration: none;
    color:#33cccc;
    background:#313131;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 150px;
}